* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  background-color: #f4f1de;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  height: 10%;
}
img.trybewarts-header-logo{
  width: 10%;
}
#trybewarts-header-title{
  color: white;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

main , #evaluation-form {
  display: flex;
}

#evaluation-form {
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

.radio-inputs , #checkbox {
  display: flex;
  flex-direction: column;
}
footer{
  background-color: rgb(50, 167, 145);
  color: white;
  height: 50px;
  text-align: center;
  padding-top: 1em;
}
#submit-btn {
  box-shadow: inset 0px 1px 0px 0px #e184f3;
  background: linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
  background-color: #826c86;
  border-radius: 6px;
  border: 1px solid #a511c0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 310px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #9b14b3;
  margin-bottom: 1em;
  margin-top: 10px;
}
#btn-header {
  box-shadow: inset 0px 1px 0px 0px #e184f3;
  background: linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
  background-color: #c123de;
  border-radius: 6px;
  border: 1px solid #a511c0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
}
#house{
  font-family: "Arial";
  display: inline-block;
  cursor: pointer;
  padding: 7px 15px;
  outline: 0;
  border: 1px inset #be38d0;
  border-radius: 26px;
  background: #e6e6e6;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.css-input {
  padding: 5px;
  font-size: 16px;
  border-width: 1px;
  border-color: #b62bb1;
  background-color: #ffffff;
  color: #b4a3b3;
  border-style: double;
  border-radius: 15px;
  box-shadow: 1px 0px 5px rgba(194, 66, 179, 0.75);
  text-shadow: 0px 0px 1px rgba(190, 21, 159, 0.75);
}
input#input-name.css-input{
    height: 31px;
}
h2{
  text-align: center;
  padding: 10px;
}
#input-name {
  width: 48%;
}
#input-lastname {
  width: 48%;
}
#input-email {
  width: 48%;
}
#house {
  width: 35%;
}

#form-data {
  display: none;
  flex-direction: column;
}

.radio-inputs {
}
div.frontend, div.backend, div.fullstack {
  font-family: arial;
  padding-left: 30px;
  margin-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 16px;
}
.control_indicator {

}
#checkbox {
  display: flex;
  border: 1em solid red;
  height: 200px;
  width: 500px;
}
.parte1, .parte2{
  display: flex;
}
div.hofs, div.jest, div.promises{
  padding-left: 30px;
}
div.react, div.sql, div.python{
  padding-left: 30px;
}
